/node_modules
.node_modules
node_modules/
node_modules

.env
env
/.env
/env

.gitignore

17016.0xSinCSL

21068.0xConCSL
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
